/*start of General Styling*/
/*body styling*/
body{
    margin: 0%;
}
/*h1*/
h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: rgb(16, 16, 16);
}
/*hover effect over all h1 elements*/
h1:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: transform 1s;
    cursor: pointer;
}
white-text{
    color: #fff;
}
/*p element */
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 15px;
}
/*end of General Styling*/